<!doctype html>
<html>
<head>
    <title>Guilty Gear W/L</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/58eb5e6d41.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-gamepad"></span> Record Your Matches!</h1>
        <a href="/" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Match History</h3>
          <ul class="matches">
          <% for(var i=0; i<matches.length; i++) {%>
            <li class="matches">
              <span><%= matches[i].pOne %></span>
              <span>VS</span>
              <span><%= matches[i].pTwo %></span>
              <span class="winNum"><%= matches[i].win %></span>
              <span>-</span>
              <span class="lossNum"><%= matches[i].loss %></span>
              <span class="hidden"><%=matches[i]._id %></span>
              <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add Match Results</h2>
        <% if (user.local.email) { %>
          <form action="/newHistory" method="POST">
            <select name="pOne" id="pOne">
              <option value="Sol Badguy">Sol Badguy</option>
			        <option value="Ky Kyske">Ky Kyske</option>
			        <option value="I-No">I-No</option>
            </select>
            <span>VS</span>
            <select name="pTwo" id="pTwo">
              <option value="Sol Badguy">Sol Badguy</option>
			        <option value="Ky Kyske">Ky Kyske</option>
			        <option value="I-No">I-No</option>
            </select>
            <input type="number" name="win" id="win" placeholder="W">
            <span>-</span>
            <input type="number" name="loss" id="loss" placeholder="L">
            <button type="submit" id="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>
<script src="main.js"></script>

</body>
</html>
